<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- Binding -->
  <!-- {{aa}}
    <input type="text" [value]="aa">
    <input type="text" [value]="aa" (input)="inputChange($event)">
    <input [(ngModel)]="aa">
    <input [ngModel]="aa" (ngModelChange)="aa=$event"> -->

  <!-- Directives -->
  <!-- structural Directive -->
  <!-- <input [(ngModel)]="aa" *ngIf="aa==10">
  <div *ngFor="let elem of arrayVal">
    <h2>{{elem}}</h2>
  </div> -->

  <!-- Attribute directive -->
  <!-- <input [(ngModel)]="aa" [ngStyle]="{color:colorVal,backgroundColor:backColor}">
  <br>
  <input [(ngModel)]="aa" [ngClass]="{colorClass:aa==10}"> -->


  <!-- custom directive -->
  <!-- <input [(ngModel)]="aa" appCustom>
  <br>
  <input [(ngModel)]="cc" appCustom>
  <br>
  <input type="button" value="Submit" appCustom> -->

  <!-- BuiltIn Pipes -->
  <!-- <div *ngFor="let elem of arrayVal">
    <h2>{{elem | titlecase}}</h2>
  </div>

  <div *ngFor="let elem of dateVal">
    <h2>{{elem | date}}</h2>
  </div> -->

  <!-- Currency:{{currentRate | currency:'RUP'}} -->

  <!-- Custom Pipes -->
  <!-- <div *ngFor="let elem of arrayVal">
    <h2>{{elem | test:'-':'*'}}</h2>
  </div> -->






  <!-- Array:{{arrayVal}} -->


  <app-employee-list></app-employee-list>



  <!-- <app-newcomp></app-newcomp> -->
</div>